{{ partial "header" . -}}
<main>
  <h2>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ title .Title }} {{ end }}</h2>
  {{- if .Params.date }}
    <div style="font-size: smaller; margin-bottom: 15px;">
      {{ .Date.Format (.Site.Params.dateform | default "January 2006") }} · {{ .ReadingTime }} minute read
    </div>
  {{ end -}}
<article>
{{ .Content -}}
</article>
  <div style="display: flex; justify-content: space-between;  margin: 50px 0 0 0">
    {{ if .PrevInSection -}}
      <a href="{{.PrevInSection.Permalink}}">&laquo;&nbsp;{{title .PrevInSection.Title}}</a>
    {{ end -}}
    {{ if .NextInSection -}}
      <a href="{{.NextInSection.Permalink}}">{{title .NextInSection.Title}}&nbsp;&raquo;</a>
    {{ end -}}
  </div>
</main>
{{ partial "footer" . }}
